
          <nav>
            <a routerLink="home">Home Component</a>
            <a routerLink="lazy">Lazy Module</a>
          </nav>
          <div class="container" ng-app="myapp" ng-controller="mycontroller" ng-init="displayData" >  
            <!-- <h3 align="center" style="color: aliceblue; "><strong>Temperature</strong></h3>   -->
            <br /><br />
            <h1><strong>{{ title }}</strong></h1>
            <table class="table table-bordered table-dark" style="width:40%; opacity: 0.8;" align="center" >
                 <thead>
                
                      
                           <tr>
                                <th class="head" colspan="4" style='text-align:center; font-size:180%'>Temperature Sensor Data</th> 
                           </tr>
                                
                   <tr>
                     <th scope="col">SNo</th>
                     <th scope="col">Temperature</th>
                     <th scope="col">Day</th>
                     <th scope="col">time</th>
                   </tr>
                    
                 </thead>
                 <tbody>
                   <tr>
                     <th scope="row">1</th>
                     <td></td>
                     <td></td>
                     <td></td>
                   </tr>
                   <tr>
                     <th scope="row">2</th>
                     <td></td>
                     <td></td>
                     <td></td>
                   </tr>
                   <tr>
                      <th scope="row">3</th>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                   
                 </tbody>
                 
               </table>
               <br>
               <br>
                <!-- <app-graphs></app-graphs> -->
                <!-- <app-mychart></app-mychart>            -->
                <router-outlet></router-outlet>
            </div> 
        